﻿
@{
    ViewBag.Title = "cuisine";
    Layout = "~/Views/Shared/_RestoLayout.cshtml";
}

<div style="margin-left:200px;">
    <h2>cuisine</h2>
    <div ng-app="AccountApp" data-ng-controller="AccountController" ng-init="GetRestaurantNames()">
        <select class="form-control" ng-model="RestaurantID" ng-options="item.RestaurantID as item.RestaurantName for item in RestaurantsData" ng-change='GetCuisines()'>
            <option value="">-- choose --</option>
        </select>
    @*</div>
    <div>*@
        <button type="button" class="add-new-bt" data-toggle="modal" data-target="#myModal">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add New
        </button>
        <div class="gridStyle" ng-grid="gridCuisineOptions" style="width: 1000px; height: 200px;"></div>
        <!--Add popup Modal-body start -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <form name="form" ng-app ng-submit="saveCuisineDetails()">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Cuisine Details:</h4>
                        </div>
                        <div class="modal-body school-model-form">
                            <div class="school-model-form">
                                <div class="form-group" ng-class="{true: 'error'}[submitted && form.CuisineType.$invalid]">
                                    <label class="control-label">Cuisine Type</label>
                                    <input class="form-control" id="CuisineType" name="CuisineType" type="text" ng-model="model.CuisineType" required />
                                    <span ng-show="submitted && form.CuisineType.$error.required" style="color:red">Please Enter CuisineType</span>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Is Active</label>
                                    <input class="form-control" id="IsActive" type="checkbox" ng-model="model.IsActive" />
                                </div>
                                <div class="form-group">
                                    <input type="button" id="save" class="btn btn-warning" value="Submit" ng-click="submitted=true" @*data-ng-click="saveCuisineDetails()"*@ />
                                </div>

                            </div>

                        </div> <!-- modal-body End -->
                    </div>
                </div>
            </form>
        </div>
        <!--Add popup Modal-body End -->
        <!--Add popup Modal-body start -->
        <div class="modal fade" id="myModalEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <form>
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Edit Cuisine Details:</h4>
                        </div>
                        <div class="modal-body school-model-form">
                            <div class="school-model-form">
                                <div class="form-group">
                                    <label class="control-label">Cuisine Type</label>
                                    <input class="form-control" id="EditCuisineType" type="text" ng-model="EditCuisineType" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Is Active</label>
                                    <input class="form-control" id="EditIsActive" type="checkbox" ng-model="EditIsActive" />
                                </div>
                                <div class="form-group">
                                    <input type="button" id="save" class="btn btn-warning" value="Submit" data-ng-click="updateCuisineDetails()" />
                                </div>

                            </div>

                        </div> <!-- modal-body End -->
                    </div>
                </div>
            </form>
        </div>
        <!--Add popup Modal-body End -->
    </div>
</div>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/angular-route.js"></script>
<script src="~/Scripts/ng-grid.js"></script>
<script src="~/Scripts/Model/AccountModel.js"></script>
<script src="~/Scripts/Service/AccountService.js"></script>
<script src="~/Scripts/Controller/AccountController.js"></script>

