﻿@{
    ViewBag.Title = "Customer";
    Layout = "~/Views/Shared/_RestoLayout.cshtml";
}

<div style="margin-left:200px;">
    <h2>Customer</h2>
    <div ng-app="AccountApp" data-ng-controller="AccountController" ng-init="GetCustomers()">
        <button type="button" class="add-new-bt" data-toggle="modal" data-target="#myModal ">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add New
        </button>
        <!--popup Modal-body start -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <form name="userForm" novalidate>
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Add New Customer Details:</h4>
                        </div>

                        <div class="modal-body school-model-form">
                            <div class="school-model-form">

                                <div class="form-group" ng-class="{ 'has-error': userForm.CustomerName.$touched && userForm.CustomerName.$invalid }">
                                    <label class="control-label">Customer Name</label>
                                    <input type="text" class="form-control" name="CustomerName" ng-minlength="5"
                                           ng-maxlength="10" ng-model="CustomerName" required />
                                    <span ng-show="userForm.CustomerName.$error.required" style="color:red"> CustomerNameRequired</span>

                                </div>

                                @*<div class="form-group" ng-class="{true: 'error'}[submitted && form.CustomerName.$invalid]">
                                <label class="control-label">Customer Name</label>
                                <input type="text" class="form-control" name="CustomerName" ng-model="CustomerName" required />
                                <span  ng-show="submitted && form.CustomerName.$error.required" style="color:red"> CustomerNameRequired</span>
                            </div>*@

                                <div class="form-group" ng-class="{true: 'error'}[submitted && form.email.$invalid]">
                                    <label class="control-label">Email</label>
                                    <input type="email" name="email" ng-model="email" required class="form-control" />
                                    <span class="help-inline" ng-show="submitted && form.email.$error.required" style="color:red">Required</span>
                                    <span class="help-inline" ng-show="submitted && form.email.$error.email" style="color:red">Invalid email</span>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">Phone</label>
                                    <input class="form-control" id="Phone" type="text" ng-model="Phone" />
                                </div>

                                <div class="form-group">
                                    <label class="control-label">Address</label>
                                    <input class="form-control" id="Address1" type="text" ng-model="Address1" />
                                </div>

                                <div class="form-group">
                                    <label class="control-label">City</label>
                                    <input class="form-control" id="City" type="text" ng-model="City" />
                                </div>

                                <div class="form-group">
                                    <label class="control-label">State</label>
                                    <input class="form-control" id="State" type="text" ng-model="State" />
                                </div>

                                <div class="form-group">
                                    <label class="control-label">Country</label>
                                    <input class="form-control" id="Country" type="text" ng-model="Country" />
                                </div>

                                <div class="form-group">
                                    <label class="control-label">ZIPCode</label>
                                    <input class="form-control" id="ZIPCode" type="text" ng-model="ZIPCode" />
                                </div>

                                <div class="form-group">
                                    <label class="control-label">IsActive</label>
                                    <input class="form-control" id="IsActive" type="checkbox" ng-model="IsActive" />
                                </div>



                                <div class="form-group">
                                    <input type="submit" id="save"  class="btn btn-warning" value="Submit" />
                                </div>

                            </div>

                        </div> <!-- modal-body End -->
                    </div>
                </div>
            </form>
        </div>
        <!--popup Modal-body End -->
        <!--popup Modal-body start -->
        <div class="modal fade" id="myModalEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <form name="MyForm" novalidate ng-init="disabled=false">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="EditmyModalLabel">Edit Customer Details:</h4>
                        </div>

                        <div class="modal-body school-model-form">
                            <div class="school-model-form">

                                <div class="form-group">
                                    <label class="control-label">Customer Name</label>
                                    <input class="form-control" id="EditCustomerName" type="text" data-ng-model="EditCustomerName" />
                                </div>

                                <div class="form-group">
                                    <label class="control-label">Email</label>
                                    <input class="form-control" id="EditEmail" type="text" data-ng-model="EditEmail" />
                                </div>

                                <div class="form-group">
                                    <label class="control-label">Phone</label>
                                    <input class="form-control" id="EditPhone" type="text" data-ng-model="EditPhone" />
                                </div>

                                <div class="form-group">
                                    <label class="control-label"> Permanent Address</label>
                                    <input class="form-control" id="EditAddress1" type="text" data-ng-model="EditAddress1" />
                                </div>
                                @*<div class="form-group">
                                        <label class="control-label"> Residential Address</label>
                                        <input class="form-control" id="EditAddresse" type="text" data-ng-model="EditAddresse" />
                                    </div>*@

                                <div class="form-group">
                                    <label class="control-label">City</label>
                                    <input class="form-control" id="EditCity" type="text" data-ng-model="EditCity" />
                                </div>

                                @*<div class="form-group">
                                        <label class="control-label">State</label>
                                        <input class="form-control" id="EditState" type="text" data-ng-model="EditState" />
                                    </div>*@

                                <div class="form-group">
                                    <label class="control-label">Country</label>
                                    <input class="form-control" id="EditCountry" type="text" data-ng-model="EditCountry" />
                                </div>

                                @*<div class="form-group">
                                        <label class="control-label">ZIPCode</label>
                                        <input class="form-control" id="EditZIPCode" type="text" data-ng-model="EditZIPCode" />
                                    </div>*@

                                <div class="form-group">
                                    <label class="control-label">IsActive</label>
                                    <input class="form-control" id="EditIsActive" type="checkbox" data-ng-model="EditIsActive" />
                                </div>


                                <div class="form-group">
                                    <input type="button" id="save" class="btn btn-warning" value="Submit" data-ng-click="UpdateCustomerDetails()" />
                                </div>

                            </div>

                        </div> <!-- modal-body End -->
                    </div>
                </div>
            </form>
        </div>
        <!--popup Modal-body End -->
        <div class="gridStyle" ng-grid="gridOptions" style="width: 1000px; "></div>
    </div>
</div>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/angular-route.js"></script>
<script src="~/Scripts/ng-grid.js"></script>
<script src="~/Scripts/Model/AccountModel.js"></script>
<script src="~/Scripts/Service/AccountService.js"></script>
<script src="~/Scripts/Controller/AccountController.js"></script>
