﻿
@{
    ViewBag.Title = "Items";
    Layout = "~/Views/Shared/_RestoLayout.cshtml";
}


<script type="text/javascript">
    var loadFile = function (event) {
        //alert(event); return true;
        var reader = new FileReader();
        reader.onload = function () {
            var output = document.getElementById('output');
            output.src = reader.result;
        };
        reader.readAsDataURL(event.target.files[0]);
    };

    $(document).on('contextmenu', function (e) {
        //alert('right click works')
        if (e.target.title.match('table1')) {
            alert(e.target.title);
            $(function () {
                $("#dialog").dialog();
            });
            return false;
        }
        else {
        }
    });


</script>


<div style="margin-left:200px;">
    <h2>Items</h2>
    <div ng-app="AccountApp" data-ng-controller="AccountController" style="width:1000px;">
        <button type="button" class="add-new-bt" data-toggle="modal" data-target="#myModal">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add New
        </button>
        <div class="form-group1">
            <label class="control-label">Section</label>
            <select class="form-control ng-scope" ng-model="SectionID" ng-options="item.SectionID as item.SectionName for item in SectionsData" ng-init="GetSections()" ng-change="GetCategories()">
                <option value="">-- choose --</option>
            </select>
        </div>

        <div class="form-group2">
            <label class="control-label">Category</label>
            <select class="form-control" id="CategoryID" ng-model="CategoryID" ng-options="item.CategoryID as item.CategoryName for item in CategoriesData" ng-change="GetItems()">
                <option value="">-- choose --</option>
            </select>
        </div>
        <div id="divclick">
            <div title="table1" class="examplediv" ng-style="{left: divleft2, top: divtop2, width: divwidth, height: divheight}" draggable xpos="divleft2" ypos="divtop2">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
        </div>
        <div id="dialog" title="Basic dialog">
            <p>This is the default dialog which is useful for displaying information. The dialog window can be moved, resized and closed with the 'x' icon.</p>

        </div>
        <div>
            <table>
                <tr ng-repeat="item in CategoriesGridData">
                    <td>
                        <table class="itemTable">
                            <thead>
                                <tr>
                                    <th>Item</th>
                                    <th>Description</th>
                                    <th><input type="button" value="Edit" data-toggle="modal" data-target="#myModalEdit" ng-click="GetItemGrid(item.ItemID)" /> <input type="button" value="Delete" ng-click="DeleteItems(item.ItemID)" /></th>
                                </tr>
                            </thead>
                            <tr>
                                <td>{{ item.ItemID }}</td>
                                <td>
                                    {{ item.ItemName }}
                                </td>
                                <td>
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>Item Code</th>
                                                <th>Item Size</th>
                                                <th>UOM</th>
                                                <th>Sale Price</th>
                                                <th>Tax Price</th>
                                                <th>Discount</th>
                                                @*<th>UOM</th>
                                                <th>Sale Prize</th>*@
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tr ng-repeat="itemDetails in item.SubitemDetails">
                                            <td>{{itemDetails.ItemCode}}</td>
                                            <td>{{itemDetails.ItemSize}}</td>
                                            <td>{{itemDetails.UOM}}</td>
                                            <td>{{itemDetails.SalesPrice}}</td>
                                            <td>{{itemDetails.TaxPrice}}</td>
                                            <td>{{itemDetails.Discount}}</td>
                                            <td> <input type="button" value="Edit" data-toggle="modal" data-target="#myModalEdit" ng-click="GetSubItemGrid(itemDetails.ItemDetailsID)" /> <input type="button" value="Delete"  ng-click="DeleteSubItems(itemDetails.ItemDetailsID)" /></td>
                                            @*<td>{{itemDetails.ItemSize}}</td>
                                            <td>{{itemDetails.ItemSize}}</td>
                                            <td>{{itemDetails.ItemSize}}</td>*@
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
           @* <div class="gridStyle" ng-repeat="item in CategoriesGridData" style="width: 800px;">
                <div style="float:left">
                    <div>{{ item.ItemID }}</div>
                    <div style="margin-left: 10px;padding: 10px;">{{ item.ItemName }} </div>
                </div>
                <div style="float:left">
                    <div ng-repeat="itemDetails in item.SubitemDetails" style="width: 500px;">
                        <div style="    margin-left: 62px; margin-top:-18px;">{{itemDetails.ItemSize}}</div>
                        <div>{{itemDetails.SalesPrice}}</div>
                    </div>
                </div>
            </div>
        </div>
            <div class="gridStyle" ng-grid="gridItemsOption" style="width: 800px;"></div>*@
            <!--popup Modal-body start -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <form>
                    <div class="modal-dialog" role="document">
                        <div class="modal-content" style="height: 1000px; width: 1000px; float: left; margin-left: -76px; margin-top: 23px;">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Add New Items Details:</h4>
                            </div>

                            <div class="modal-body school-model-form">
                                <div class="school-model-form">
                                    <div class="sections-cats">
                                        <div class="form-group1">
                                            <label class="control-label">Section</label>
                                            <select class="form-control ng-scope" ng-model="SectionID" ng-options="item.SectionID as item.SectionName for item in SectionsData" ng-init="GetSections()" ng-change="GetCategories()">
                                                <option value="">-- choose --</option>
                                            </select>
                                        </div>

                                        <div class="form-group2">
                                            <label class="control-label">Category</label>
                                            <select class="form-control" id="CategoryID" data-ng-model="CategoryID" ng-options="item.CategoryID as item.CategoryName for item in CategoriesData" >
                                                <option value="">-- choose --</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group3">
                                        <label class="control-label">Item Name</label>
                                        <input class="form-control" id="ItemName" type="text" ng-model="ItemName" />
                                    </div>

                                    <div class="form-group4">
                                        <label class="control-label">Item Description</label>
                                        <input class="form-control" id="ItemDescription" type="text" ng-model="ItemDescription" />
                                    </div>

                                    <div class="form-group5">
                                        <label class="control-label">Item Ingredients</label>
                                        <input class="form-control" id="ItemIngredients" type="text" ng-model="ItemIngredients" />
                                    </div>
                                    <div class="form-group6">
                                        <label class="control-label">Item Image</label>
                                        <input class="form-control" id="ItemImage" type="file" data-url="~/takeaway/Images" name="itemimage" accept="image/*" onchange="loadFile(event)" ng-model="ItemImage" />
                                    </div>
                                    <div class="image-box" style="background-color: #dddddd; width: 138px; height:100px; padding: 38px; border: 2px solid navy; margin: 2px; margin-top: 25px;">
                                        <img id="output" style="margin-top:-37px;margin-left:-39px; width: 138px; height:100px;" />
                                    </div>
                                    <div class="form-group7" style="float: right; margin: auto; padding-right: 581px; padding-top: 0px; margin-top: -36px;">
                                        <input type="button" id="saveItems" class="btn btn-warning" value="Save" data-ng-click="saveItems()" style="margin-right:105px" />
                                    </div>

                                </div>
                                <div class="line-div" style="width: 1px; background-color: silver; height: 496px; float: left; border: 2px ridge silver; border-radius: 2px; margin-left: 298px; margin-top: -495px;"></div>
                                <div class="right-form" style="float: right; margin-left: 0px; margin-top: -482px; margin-right: 345px">
                                    <div class="form-group8">
                                        <label class="control-label">Sub Item Name</label>
                                        <input class="form-control" id="SubItemName" type="text"  data-ng-model="ItemSize" />

                                    </div>
                                    <div class="form-group9">
                                        <label class="control-label">Item Code</label>
                                        <input class="form-control" id="ItemCode" type="text"  data-ng-model="ItemCode" />
                                    </div>
                                </div>
                                <div class="move-right" style="float: right; margin-top: -481px; margin-right: 36px;">
                                    <div class="form-group11">
                                        <label class="control-label">UOM</label>
                                        <input class="form-control" id="UOM" type="text" name="UOM" data-ng-model="UOM"/>
                                    </div>
                                    <div class="form-group12">
                                        <label class="control-label">Tax</label>
                                        <input class="form-control" id="Tax" type="text" name="Tax" data-ng-model="Tax"/>
                                    </div>
                                </div>
                                <div class="down-menu" style="float: right; margin-top: -340px; width: 543px; background-color: #B3B3B3;">
                                    <div class="form-group13" style="padding-top: 10px;">
                                        <strong style="padding-left: 20px;">SP</strong> : <input type="text" style="width: 70px" name="SP" id="SP" data-ng-model="SP" />
                                        <strong style="padding-left: 45px;">CP</strong> : <input type="text" style="width: 70px" name="CP" id="CP" data-ng-model="CP" />
                                        <strong style="padding-left: 79px;">UOM</strong> : <input type="text" style="width: 70px" name="UOM" id="UOM" data-ng-model="UOM"  />
                                    </div>
                                    <div class="form-group14" style="padding-bottom: 10px;">
                                        <strong style="padding-left: 5px;">MBQ</strong> : <input type="text" style="width: 70px"  name="MBQ" id="MBQ" data-ng-model="MBQ" />
                                        <strong style="padding-left: 15px;">DISC %</strong> : <input type="text" style="width: 70px" name="DISC" id="DISC" data-ng-model="DISC" />
                                        <strong style="padding-left: 36px;">Stock UOM</strong> : <input type="text" style="width: 70px" name="StackUOM" id="StackUOM" data-ng-model="StackUOM" />
                                    </div>
                                    <div class="field-set">
                                        <fieldset class="scheduler-border">
                                            <legend class="scheduler-border">Item Settings</legend>
                                            <div class="control-group" style="padding-top: 10px;">
                                                <input type="checkbox" name="vehicle" value="Bike" style="width: 20px" name="spname" id="spname" value="" /> <strong">
                                                    Open Rate</strong>
                                                    <input type="checkbox" name="vehicle" value="Bike" style="width: 20px" name="spname" id="spname" value="" /> <strong>Discountable</strong>
                                                    <input type="checkbox" name="vehicle" value="Bike" style="width: 20px" name="spname" id="spname" value="" /> <strong>Taxable</strong>
                                            </div>
                                            <div class="control-group" style="padding-top: 10px;">
                                                <input type="checkbox" name="vehicle" value="Bike" style="width: 20px" name="spname" id="spname" value=""> <strong">
                                                    Non Inventory</strong>
                                                    <input type="checkbox" name="vehicle" value="Bike" style="width: 20px" name="spname" id="spname" value=""> <strong>Stub Required</strong>
                                                    <input type="checkbox" name="vehicle" value="Bike" style="width: 20px" name="spname" id="spname" value=""> <strong>Raw Material</strong>
                                                    <input type="checkbox" name="vehicle" value="Bike" style="width: 20px" name="spname" id="spname" value="" > <strong>Raw Material</strong>
                                            </div>
                                    </div>
                                    </fieldset>
                                </div>
                                <div>
                                    <div>
                                        <div class="form-groups" style="float:left;margin-top:-100px;margin-left:400px">
                                           
                                            <input type="button" id="save" class="btn btn-warning" ng-repeat="item in ItemGridData" for="{{item.ItemID}} " value=" save" data-ng-click="saveSubItemsItems(item.ItemID)" />
                                        </div>
                                        <div>
                                            <div class="form-groups" style="float: right; margin-top: -98px; margin-right: 12px;">
                                                <input type="button" id="save" class="btn btn-warning" value="Clear"   style="margin-right: 111px"   />
                                            </div>
                                        </div>
                                       <table>
                <tr ng-repeat="item in ItemGridData">
                    <td>
                        <table class="itemTable">
                            <thead>
                                <tr>
                                    <th>Item</th>
                                    <th>Description</th>
                                    <th><input type="button" value="Edit" data-toggle="modal" ng-click="editItemForSubItem(item.ItemID)" /> <input type="button" value="Delete" ng-click="DeleteItems(item.ItemID)" />
                                        @*<input type="button" value="Add SubItem" ng-click="saveSubItemsItems(item.ItemID)" />*@
                                    </th>
                                </tr>
                            </thead>
                            <tr>
                                <td>{{ item.ItemID }}</td>
                                <td>
                                    {{ item.ItemName }}
                                </td>
                                <td>
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>Item Code</th>
                                                <th>Item Size</th>
                                                <th>UOM</th>
                                                <th>Sale Price</th>
                                                <th>Tax Price</th>
                                                <th>Discount</th>
                                                @*<th>UOM</th>
                                                <th>Sale Prize</th>*@
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tr ng-repeat="itemDetails in item.SubitemDetails">
                                            <td>{{itemDetails.ItemCode}}</td>
                                            <td>{{itemDetails.ItemSize}}</td>
                                            <td>{{itemDetails.UOM}}</td>
                                            <td>{{itemDetails.SalesPrice}}</td>
                                            <td>{{itemDetails.TaxPrice}}</td>
                                            <td>{{itemDetails.Discount}}</td>
                                            <td> <input type="button" value="Edit" ng-click="editSubItems(itemDetails.ItemDetailsID)" /> <input type="button" value="Delete"  ng-click="DeleteSubItems(itemDetails.ItemDetailsID)" /></td>
                                            @*<td>{{itemDetails.ItemSize}}</td>
                                            <td>{{itemDetails.ItemSize}}</td>
                                            <td>{{itemDetails.ItemSize}}</td>*@
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
                                    </div> <!-- modal-body End -->
                                </div>
                            </div>
                </form>
            </div>
        <!--popup Modal-body End -->
        <!--popup Modal-body start -->
        

        <!--popup Modal-body End -->
    </div>
                        
</div>

<div class="modal fade" id="myModalEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <form>
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="height: 940px; width: 1000px; float: left; margin-left: -76px; margin-top: 23px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add Edit Details:</h4>
                </div>

                <div class="modal-body school-model-form">
                    <div class="school-model-form">
                        <div class="sections-cats">
                            <div class="form-group1">
                                <label class="control-label">Section</label>
                                <select class="form-control ng-scope" ng-model="SectionID" ng-options="item.SectionID as item.SectionName for item in SectionsData" ng-init="GetSections()" ng-change="GetCategories()">
                                    <option value="">-- choose --</option>
                                </select>
                            </div>

                            <div class="form-group2">
                                <label class="control-label">Category</label>
                                <select class="form-control" id="CategoryID" ng-model="CategoryID" ng-options="item.CategoryID as item.CategoryName for item in CategoriesData" ng-change="GetItems()">
                                    <option value="">-- choose --</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group3">
                            <label class="control-label">Item Name</label>
                            <input class="form-control" id="ItemName" type="text" ng-model="EditItemName" />
                        </div>

                        <div class="form-group4">
                            <label class="control-label">Item Description</label>
                            <input class="form-control" id="ItemDescription" type="text" name="EditItemDescription" data-ng-model="EditItemDescription" />
                        </div>

                        <div class="form-group5">
                            <label class="control-label">Item Ingredients</label>
                            <input class="form-control" id="ItemIngredients" type="text" ng-model="ItemIngredients" />
                        </div>
                        <div class="form-group6">
                            <label class="control-label">Item Image</label>
                            <input class="form-control" id="ItemImage" type="file" accept="image/*" onchange="loadFile(event)" ng-model="ItemImage" />
                        </div>
                        <div class="image-box" style="background-color: #dddddd; width: 138px; height:100px; padding: 38px; border: 2px solid navy; margin: 2px; margin-top: 25px;">
                            <img id="output" style="margin-top:-37px;margin-left:-39px; width: 138px; height:100px;" />
                        </div>
                        <div class="form-group7" style="float: right; margin: auto; padding-right: 581px; padding-top: 0px; margin-top: -36px;">
                            <input type="button" id="saveItems" class="btn btn-warning" value="Save" ng-repeat="item in Categories"
                                   ng-click=" UpdateItems(item.ItemID)" style="margin-right:105px" />
                        </div>

                    </div>
                    <div class="line-div" style="width: 1px; background-color: silver; height: 496px; float: left; border: 2px ridge silver; border-radius: 2px; margin-left: 298px; margin-top: -495px;"></div>
                    <div class="right-form" style="float: right; margin-left: 0px; margin-top: -482px; margin-right: 345px">
                        <div class="form-group8">
                            <label class="control-label">Sub Item Name</label>
                            <input class="form-control" id="SubItemName" type="text" ng-model="EditSubItemName" />

                        </div>
                        <div class="form-group9">
                            <label class="control-label">Item Code</label>
                            <input class="form-control" id="ItemCode" type="text" name="EditItemCode" data-ng-model="EditItemCode"/>
                        </div>
                    </div>
                    <div class="move-right" style="float: right; margin-top: -481px; margin-right: 36px;">
                        <div class="form-group11">
                            <label class="control-label">UOM</label>
                           <input class="form-control" id="UOM" type="text" name="EditUOM" data-ng-model="EditUOM"/>
                        </div>
                        <div class="form-group12">
                            <label class="control-label">Tax</label>
                            <input class="form-control" id="Tax" type="text" name="EditTax" data-ng-model="EditTax"/>
                        </div>
                    </div>
                    <div class="down-menu" style="float: right; margin-top: -340px; width: 543px; background-color: #B3B3B3;">
                        <div class="form-group13" style="padding-top: 10px;">
                            <strong style="padding-left: 20px;">SP</strong> : <input type="text" style="width: 70px" name="SP" id="SP" name="EditSP" data-ng-model="EditSP"  />
                            <strong style="padding-left: 45px;">CP</strong> : <input type="text" style="width: 70px" name="CP" id="CP"  />
                            <strong style="padding-left: 79px;">UOM</strong> : <input type="text" style="width: 70px" name="spname" id="spname"  data-ng-model="EditSP" />
                        </div>
                        <div class="form-group14" style="padding-bottom: 10px;">
                            <strong style="padding-left: 5px;">MBQ</strong> : <input type="text" style="width: 70px" name="MBQ" id="MBQ" data-ng-model="EditMBQ" />
                            <strong style="padding-left: 15px;">DISC %</strong> : <input type="text" style="width: 70px" name="DISC" id="DISC" value="" />
                            <strong style="padding-left: 36px;">Stock UOM</strong> : <input type="text" style="width: 70px" name="StackUOM" id="StackUOM" data-ng-model="EditStackUOM" />
                        </div>
                        <div class="field-set">
                            <fieldset class="scheduler-border">
                                <legend class="scheduler-border">Item Settings</legend>
                                <div class="control-group" style="padding-top: 10px;">
                                    <input type="checkbox" name="vehicle" value="Bike" style="width: 20px" name="spname" id="spname" value="" /> <strong">
                                        Open Rate</strong>
                                        <input type="checkbox" name="vehicle" value="Bike" style="width: 20px" name="spname" id="spname" value="" /> <strong>Discountable</strong>
                                        <input type="checkbox" name="vehicle" value="Bike" style="width: 20px" name="spname" id="spname" value="" /> <strong>Taxable</strong>
                                </div>
                                <div class="control-group" style="padding-top: 10px;">
                                    <input type="checkbox" name="vehicle" value="Bike" style="width: 20px" name="spname" id="spname" value=""> <strong">
                                        Non Inventory</strong>
                                        <input type="checkbox" name="vehicle" value="Bike" style="width: 20px" name="spname" id="spname" value=""> <strong>Stub Required</strong>
                                        <input type="checkbox" name="vehicle" value="Bike" style="width: 20px" name="spname" id="spname" value=""> <strong>Raw Material</strong>
                                        <input type="checkbox" name="vehicle" value="Bike" style="width: 20px" name="spname" id="spname" value=""> <strong>Raw Material</strong>
                                </div>
                        </div>
                        </fieldset>
                    </div>
                    <div>
                        <div>
                            <div class="form-groups" style="float:left;margin-top:-100px;margin-left:400px">
                                <input type="button" id="save" class="btn btn-warning" ng-repeat="item in Categories" for="{{item.ItemID}} " value="Save" data-ng-click="saveSubItemsItems(item.ItemID)" />
                                @*<input type="button" id="save" class="btn btn-warning" ng-repeat="item in ItemGridData" for="{{item.ItemID}} " value=" save" data-ng-click="saveSubItemsItems(item.ItemID)" />*@
                            </div>
                            <div>
                                <div class="form-groups" style="float: right; margin-top: -98px; margin-right: 12px;">
                                    <input type="button" id="save" class="btn btn-warning" value="Clear" />
                                </div>
                            </div>
                         
                            <table>
                                <tr ng-repeat="item in Categories">
                                    <td>
                                        <table class="itemTable">
                                            <thead>
                                                <tr>
                                                    <th>Item</th>
                                                    <th>Description</th>
                                                    <th><input type="button" value="Edit" data-toggle="modal" data-target="#myModalEdit" ng-click="editItemForSubItem(item.ItemID)" /> <input type="button" value="Delete" ng-click="DeleteItems(item.ItemID)" /></th>
                                                </tr>
                                            </thead>
                                            <tr>
                                                <td>{{ item.ItemID }}</td>
                                                <td>
                                                    {{ item.ItemName }}
                                                </td>
                                                <td>
                                                    <table>
                                                        <thead>
                                                            <tr>
                                                                <th>Item Code</th>
                                                                <th>Item Size</th>
                                                                <th>UOM</th>
                                                                <th>Sale Price</th>
                                                                <th>Tax Price</th>
                                                                <th>Discount</th>
                                                                @*<th>UOM</th>
                                        <th>Sale Prize</th>*@
                                                                <th>Actions</th>
                                                            </tr>
                                                        </thead>
                                                        <tr ng-repeat="itemDetails in item.SubitemDetails">
                                                            <td>{{itemDetails.ItemCode}}</td>
                                                            <td>{{itemDetails.ItemSize}}</td>
                                                            <td>{{itemDetails.UOM}}</td>
                                                            <td>{{itemDetails.SalesPrice}}</td>
                                                            <td>{{itemDetails.TaxPrice}}</td>
                                                            <td>{{itemDetails.Discount}}</td>
                                                            <td> <input type="button" value="Edit" data-toggle="modal" data-target="#myModalEdit" ng-click="editSubItems(itemDetails.ItemDetailsID)" /> <input type="button" value="Delete" ng-click="DeleteSubItems(itemDetails.ItemDetailsID)" /></td>
                                                            @*<td>{{itemDetails.ItemSize}}</td>
                                    <td>{{itemDetails.ItemSize}}</td>
                                    <td>{{itemDetails.ItemSize}}</td>*@
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>


                        </div> <!-- modal-body End -->
                    </div>
                </div>
    </form>
</div>
@section Scripts {
    @Scripts.Render("~/Scripts/jquery-ui-1.11.4.min.js")
    @Scripts.Render("~/Scripts/angular.js")
    @Scripts.Render("~/Scripts/angular-route.js")
    @Scripts.Render("~/Scripts/ng-grid.js")
    @Scripts.Render("~/Scripts/Model/AccountModel.js")
    @Scripts.Render("~/Scripts/Service/AccountService.js")
    @Scripts.Render("~/Scripts/Controller/AccountController.js")
}
<style type="text/css">
    fieldset.scheduler-border {
        border: 1px groove #ddd !important;
        padding: 0 1.4em 1.4em 1.4em !important;
        margin: 0 0 1.5em 0 !important;
        -webkit-box-shadow: 0px 0px 0px 0px #000;
        box-shadow: 0px 0px 0px 0px #000;
    }

    legend.scheduler-border {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        border-bottom: none;
    }
    table { 
		width: 100%; 
		border-collapse: collapse; 
	}
	/* Zebra striping */
	.itemTable { 
		background: #eee; 
	}
	th { 
		background: #2DA6E6; 
		color: white; 
		font-weight: bold; 
	}
	td, th { 
		padding: 6px; 
		border: 1px solid #ccc; 
		text-align: left; 
	}
</style>
    <style>
        .examplediv {
            position: absolute;
            border: solid 5px #000;
            cursor: move;
        }

        #dialog {
            border: groove;
            border-width: 1px;
            background-color: #C8D2F5;
        }
    </style>





