﻿@model takeaway.Models.LookUpViewModel
@{
    ViewBag.Title = "LookUP";
    Layout = "~/Views/Shared/_RestoLayout.cshtml";
}

<div style="margin-left:200px;">
    <h2>LookUp</h2>
    <div ng-app="AccountApp" data-ng-controller="AccountController" ng-init="RetriveLookupdata()">
        <select class="form-control ng-scope" ng-model="LookupCategoryID" ng-options="lookup.LookupCategoryID as lookup.LookupCategoryName for lookup in LookupCategoryData" ng-init="GetLookUpCategory()" ng-change="RetriveLookupdata()">
            <option value="">-- choose --</option>
        </select>
        <button type="button" class="add-new-bt" data-toggle="modal" data-target="#myModal">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add New
        </button>
        <!--popup Modal-body start -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <form name="form" ng-app ng-submit="saveLookup()">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">LookUpCategory Details:</h4>
                        </div>
                        <div class="modal-body school-model-form">
                            <div class="school-model-form">
                                <div class="form-group" ng-class="{true: 'error'}[submitted && form.LookupCategoryID.$invalid]">
                                    <label class="control-label">LookupCategory</label>
                                    <select class="form-control ng-scope" name="LookupCategoryID" ng-model="LookupCategoryID" required ng-options="lookup.LookupCategoryID as lookup.LookupCategoryName for lookup in LookupCategoryData" ng-init="GetLookUpCategory()">
                                        <option value="">-- choose --</option>
                                    </select>
                                    <span ng-show="submitted && form.LookupCategoryID.$error.required" style="color:red">Please Select LookupCategory </span>
                                </div>
                                <div class="form-group" ng-class="{true: 'error'}[submitted && form.LookupCategoryName.$invalid]">
                                    <label class="control-label">LookupName</label>
                                    <input class="form-control" id="LookupCategoryName" name="LookupCategoryName" type="text" ng-model="model.LookupName" required />
                                    <span ng-show="submitted && form.LookupCategoryName.$error.required" style="color:red">Please Enter LookupName </span>
                                </div>
                                <div class="form-group" ng-class="{true: 'error'}[submitted && form.LookupCategoryCode.$invalid]">
                                    <label class="control-label">LookupCode</label>
                                    <input class="form-control" id="LookupCategoryCode" type="text" name="LookupCategoryCode" ng-model="model.LookupCode" required />
                                    <span ng-show="submitted && form.LookupCategoryCode.$error.required" style="color:red">Please Enter LookupCode </span>
                                </div>
                                <div class="form-group" ng-class="{true: 'error'}[submitted && form.LookupCategoryDescription.$invalid]">
                                    <label class="control-label">LookupDescription</label>
                                    <input class="form-control" id="LookupCategoryDescription" name="LookupCategoryDescription" type="text" ng-model="model.LookupDescription" required />
                                    <span ng-show="submitted && form.LookupCategoryDescription.$error.required" style="color:red">Please Enter LookupCategoryDescription </span>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Is Active</label>
                                    <input class="form-control" id="IsActive" type="checkbox" ng-model="model.IsActive" />
                                </div>
                                <div class="form-group">
                                    <input type="button" id="save" class="btn btn-warning" value="Submit" ng-click="submitted=true" @*data-ng-click="saveLookup()"*@ />
                                </div>

                            </div>

                        </div> <!-- modal-body End -->
                    </div>
                </div>
            </form>
        </div>
        <!--popup Modal-body End -->
        <!--popup Modal-body start -->
        <div class="modal fade" id="myModalEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <form>
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="EditmyModalLabel">Edit LookUp Details:</h4>
                        </div>

                        <div class="modal-body school-model-form">
                            <div class="school-model-form">

                                <div class="form-group">
                                    <label class="control-label">LookupCategory</label>
                                    <select class="form-control ng-scope" ng-model="LookupCategoryID" ng-options="lookup.LookupCategoryID as lookup.LookupCategoryName for lookup in LookupCategoryData" ng-init="GetLookUpCategory()">
                                        <option value="">-- choose --</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">LookupName</label>
                                    <input class="form-control" id="LookupName" type="text" ng-model="LookupName" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label">LookupCode</label>
                                    <input class="form-control" id="LookupCode" type="text" ng-model="LookupCode" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label">LookupDescription</label>
                                    <input class="form-control" id="LookupDescription" type="text" ng-model="LookupDescription" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Is Active</label>
                                    <input class="form-control" id="IsActive" type="checkbox" ng-model="IsActive" />
                                </div>

                                <div class="form-group">
                                    <input type="button" id="save" class="btn btn-warning" value="Submit" data-ng-click="updateLookUpDetails()" />
                                </div>

                            </div>

                        </div> <!-- modal-body End -->
                    </div>
                </div>
            </form>
        </div>
        <!--popup Modal-body End -->

        <div class="gridStyle" ng-grid="LookupgridOptions" style="width: 800px; height: 200px;"></div>
    </div>
</div>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/angular-route.js"></script>
<script src="~/Scripts/ng-grid.js"></script>
<script src="~/Scripts/Model/AccountModel.js"></script>
<script src="~/Scripts/Service/AccountService.js"></script>
<script src="~/Scripts/Controller/AccountController.js"></script>




