﻿
@{
    ViewBag.Title = "LookUpCategory";
    Layout = "~/Views/Shared/_RestoLayout.cshtml";
}

<div style="margin-left:200px;">
    <h2>LookUpCategory</h2>
    <div ng-app="AccountApp" data-ng-controller="AccountController" ng-init="GetLookUpCategory()">
        <button type="button" class="add-new-bt" data-toggle="modal" data-target="#myModal">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add New
        </button>
        <!--popup Modal-body start -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <form name="form" ng-app ng-submit="saveLookupcategory()">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">LookUpCategory Details:</h4>
                        </div>
                        <div class="modal-body school-model-form">
                            <div class="school-model-form">
                                <div class="form-group" ng-class="{true: 'error'}[submitted && form.LookupCategoryName.$invalid]">
                                    <label class="control-label">LookupCategoryName</label>
                                    <input class="form-control" id="LookupCategoryName" name="LookupCategoryName" type="text" ng-model="model.LookupCategoryName" required />
                                    <span ng-show="submitted && form.LookupCategoryName.$error.required" style="color:red">Please Enter CategoryName</span>
                                </div>
                                <div class="form-group" ng-class="{true: 'error'}[submitted && form.LookupCategoryCode.$invalid]">
                                    <label class="control-label">LookupCategoryCode</label>
                                    <input class="form-control" id="LookupCategoryCode" name="LookupCategoryCode" type="text" ng-model="model.LookupCategoryCode" required ng-change="GetCategoryCode()" />
                                    <span ng-show="submitted && form.LookupCategoryCode.$error.required" style="color:red">Please Enter LookupCategoryCode</span>
                                </div>
                                <div>
                                    <label id="lblmsg"></label>
                                </div>
                                <div class="form-group" ng-class="{true: 'error'}[submitted && form.LookupCategoryDescription.$invalid]">
                                    <label class="control-label">LookupCategoryDescription</label>
                                    <input class="form-control" id="LookupCategoryDescription" name="LookupCategoryDescription" type="text" ng-model="model.LookupCategoryDescription" required />
                                    <span ng-show="submitted && form.LookupCategoryDescription.$error.required" style="color:red">Please Enter LookupCategoryDescription</span>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Is Active</label>
                                    <input class="form-control" id="IsActive" type="checkbox" ng-model="model.IsActive" />
                                </div>
                                <div class="form-group">
                                    <input type="submit" id="save" class="btn btn-warning" value="Submit" ng-click="submitted=true"/>
                                </div>

                            </div>

                        </div> <!-- modal-body End -->
                    </div>
                </div>
            </form>
        </div>
        <!--popup Modal-body End -->
        <!--popup Modal-body start -->
        <div class="modal fade" id="myModalEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <form>
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="EditmyModalLabel">Edit LookUp Category Details:</h4>
                        </div>

                        <div class="modal-body school-model-form">
                            <div class="school-model-form">

                                <div class="form-group">
                                    <label class="control-label">LookupCategoryName</label>
                                    <input class="form-control" id="EditLookupCategoryName" type="text" ng-model="EditLookupCategoryName" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label">LookupCategoryCode</label>
                                    <input class="form-control" id="EditLookupCategoryCode" type="text" ng-model="EditLookupCategoryCode" />
                                </div>
                              
                                <div class="form-group">
                                    <label class="control-label">Is Active</label>
                                    <input class="form-control" id="EditIsActive" type="checkbox" ng-model="EditIsActive" />
                                </div>
                                <div class="form-group">
                                    <input type="button" id="save" class="btn btn-warning" value="Submit" data-ng-click="updateLookUpCategoryDetails()" />
                                </div>

                            </div>

                        </div> <!-- modal-body End -->
                    </div>
                </div>
            </form>
        </div>
        <!--popup Modal-body End -->
       

        <div class="gridStyle" ng-grid="LookupcategorygridOptions" style="width: 800px; height: 200px;"></div>
    </div>
</div>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/angular-route.js"></script>
<script src="~/Scripts/ng-grid.js"></script>
<script src="~/Scripts/Model/AccountModel.js"></script>
<script src="~/Scripts/Service/AccountService.js"></script>
<script src="~/Scripts/Controller/AccountController.js"></script>


