﻿@{
    ViewBag.Title = "restaurant";
    Layout = "~/Views/Shared/_RestoLayout.cshtml";
}
<div style="margin-left:200px;">
    <h2>restaurant</h2>
    <div ng-app="AccountApp" data-ng-controller="AccountController" ng-init="GetRestaurants()">
        <button type="button" class="add-new-bt" data-toggle="modal" data-target="#myModal">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add New
        </button>
        <!--popup Modal-body start -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <form name="form" ng-app ng-submit="saveRestaurantDetails()">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Add New Restaurant Details:</h4>
                        </div>

                        <div class="modal-body school-model-form">
                            <div class="school-model-form">

                                <div class="form-group" ng-class="{true: 'error'}[submitted && form.RestaurantName.$invalid]">
                                    <label class="control-label">Restaurant Name</label>
                                    <input class="form-control" id="RestaurantName" name="RestaurantName" ng-pattern="/^[\aA-zZ]*\.?[\aA-zZ]*$/" type="text" ng-model="RestaurantName" required />
                                    <span ng-show="submitted && form.RestaurantName.$error.required" style="color:red">Please Enter RestaurantName </span>
                                    <span class="alert-error" ng-show="form.RestaurantName.$error.pattern" style="color:red"><strong>Requires Valid Data.</strong></span>
                                   
                                </div>

                                <div class="form-group" ng-class="{true: 'error'}[submitted && form.RestaurantShortName.$invalid]">
                                    <label class="control-label">Restaurant Short Name</label>
                                    <input class="form-control" id="RestaurantShortName" name="RestaurantShortName" type="text" ng-model="RestaurantShortName" required/>
                                    <span ng-show="submitted && form.RestaurantShortName.$error.required" style="color:red">Please Enter RestaurantShortName </span>
                                </div>

                                <div class="form-group" ng-class="{true: 'error'}[submitted && form.RestaurantDescription.$invalid]">
                                    <label class="control-label">Restaurant Description</label>
                                    <input class="form-control" id="RestaurantDescription" name="RestaurantDescription" type="text" ng-model="RestaurantDescription" required />
                                    <span ng-show="submitted && form.RestaurantDescription.$error.required" style="color:red">Please Enter RestaurantDescription </span>
                                </div>

                                <div class="form-group" ng-class="{true: 'error'}[submitted && form.TAXID.$invalid]">
                                    <label class="control-label">TAXID</label>
                                    <input class="form-control" id="TAXID" type="text" name="TAXID" ng-model="TAXID" required />
                                    <span ng-show="submitted && form.TAXID.$error.required" style="color:red">Please Enter TAXID </span>
                                </div>

                                <div class="form-group"  >
                                    <label class="control-label">IsActive</label>
                                    <input class="form-control" id="IsActive" type="checkbox" ng-model="IsActive" />
                                </div>

                                <div class="form-group" ng-class="{true: 'error'}[submitted && form.name.$invalid]">
                                    <label class="control-label">Contact Name</label>
                                    <input class="form-control" id="PrimaryContactName" type="text" name="name" ng-model="PrimaryContactName" required />
                                    <span ng-show="submitted && form.name.$error.required" style="color:red">Please Enter Name </span>
                                </div>

                                <div class="form-group" ng-class="{true: 'error'}[submitted && form.email.$invalid]">
                                    <label class="control-label">Contact Email</label>
                                    <input class="form-control" id="PrimaryContactEmail" type="email" name="email" ng-model="PrimaryContactEmail" required />
                                    <span ng-show="submitted && form.email.$error.required" style="color:red">Please Enter Email </span>
                                    <span ng-show=" submitted && form.email.$error.email">Invalid email address.</span>
                                </div>

                                <div class="form-group" ng-class="{true: 'error'}[submitted && form.PrimaryContactNumber.$invalid]">
                                    <label class="control-label">Number</label>
                                    <input class="form-control" id="PrimaryContactNumber" type="text" name="PrimaryContactNumber" ng-model="PrimaryContactNumber" required />
                                    <span ng-show="submitted && form.PrimaryContactNumber.$error.required" style="color:red">Please Enter Number </span>
                                </div>

                                <div class="form-group">
                                    <input type="button" id="save" class="btn btn-warning" value="Submit" ng-click="submitted=true" @*data-ng-click="saveRestaurantDetails()"*@ />
                                </div>

                            </div>

                        </div> <!-- modal-body End -->
                    </div>
                </div>
            </form>
        </div>
        <!--popup Modal-body End -->

        <!--popup Modal-body start -->
        <div class="modal fade" id="myModalEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <form>
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="EditmyModalLabel">Edit Restaurant Details:</h4>
                        </div>

                        <div class="modal-body school-model-form">
                            <div class="school-model-form">

                                <div class="form-group">
                                    <label class="control-label">Restaurant Name</label>
                                    <input class="form-control" id="EditRestaurantName" type="text" ng-model="EditRestaurantName" />
                                </div>

                                <div class="form-group">
                                    <label class="control-label">Restaurant Short Name</label>
                                    <input class="form-control" id="EditRestaurantShortName" type="text" ng-model="EditRestaurantShortName" />
                                </div>

                                <div class="form-group">
                                    <label class="control-label">Restaurant Description</label>
                                    <input class="form-control" id="EditRestaurantDescription" type="text" ng-model="EditRestaurantDescription" />
                                </div>

                                <div class="form-group">
                                    <label class="control-label">TAXID</label>
                                    <input class="form-control" id="EditTAXID" type="text" ng-model="EditTAXID" />
                                </div>

                                <div class="form-group">
                                    <label class="control-label">IsActive</label>
                                    <input class="form-control" id="EditIsActive" type="checkbox" ng-model="EditIsActive" />
                                </div>

                                <div class="form-group">
                                    <label class="control-label">Contact Name</label>
                                    <input class="form-control" id="EditPrimaryContactName" type="text" ng-model="EditPrimaryContactName" />
                                </div>

                                <div class="form-group">
                                    <label class="control-label">Contact Email</label>
                                    <input class="form-control" id="EditPrimaryContactEmail" type="text" ng-model="EditPrimaryContactEmail" />
                                </div>

                                <div class="form-group">
                                    <label class="control-label">Number</label>
                                    <input class="form-control" id="EditPrimaryContactNumber" type="text" ng-model="EditPrimaryContactNumber" />
                                </div>

                                <div class="form-group">
                                    <input type="button" id="save" class="btn btn-warning" value="Submit" data-ng-click="updateRestaurantDetails()" />
                                </div>

                            </div>

                        </div> <!-- modal-body End -->
                    </div>
                </div>
            </form>
        </div>
        <!--popup Modal-body End -->
        <div class="gridStyle" ng-grid="gridOptions" style="width: 1000px; "></div>
    </div>
</div>
@*<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/angular-route.js"></script>
<script src="~/Scripts/ng-grid.js"></script>
<script src="~/Scripts/Model/AccountModel.js"></script>
<script src="~/Scripts/Service/AccountService.js"></script>
<script src="~/Scripts/Controller/AccountController.js"></script>*@

@section Scripts {
    @Scripts.Render("~/Scripts/jquery-1.10.2.js")
    @Scripts.Render("~/Angular")
    @*@Scripts.Render("~/Scripts/angular-route.js")*@
    @*@Scripts.Render("~/Scripts/ng-grid.js")*@
    @Scripts.Render("~/Scripts/Model/AccountModel.js")
    @Scripts.Render("~/Scripts/Service/AccountService.js")
    @Scripts.Render("~/Scripts/Controller/AccountController.js")
}
