﻿
@{
    ViewBag.Title = "section";
    Layout = "~/Views/Shared/_RestoLayout.cshtml";
}


<div style="margin-left:200px;">
    <h2>Section</h2>
    <div ng-app="AccountApp" data-ng-controller="AccountController" ng-init="GetSections()">
        <button type="button" class="add-new-bt" data-toggle="modal" data-target="#myModal">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add New
        </button>
        <!--popup Modal-body start -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <form name="form" ng-app ng-submit="saveSectionDetails()">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Section Details:</h4>
                        </div>
                        <div class="modal-body school-model-form">
                            <div class="school-model-form">
                                <div class="form-group" ng-class="{true: 'error'}[submitted && form.SectionName.$invalid]">
                                    <label class="control-label">Section Name</label>
                                    <input class="form-control" id="SectionName" name="SectionName" type="text" ng-model="model.SectionName" required />
                                    <span ng-show="submitted && form.SectionName.$error.required" style="color:red">Please Enter SectionName</span>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Is Active</label>
                                    <input class="form-control" id="IsActive" type="checkbox" ng-model="model.IsActive" />
                                </div>
                                <div class="form-group">
                                    <input type="button" id="save" class="btn btn-warning" value="Submit" ng-click="submitted=true" @*data-ng-click="saveSectionDetails()"*@ />
                                </div>

                            </div>

                        </div> <!-- modal-body End -->
                    </div>
                </div>
            </form>
        </div>
        <!--popup Modal-body End -->
        <div class="gridStyle" ng-grid="gridOptions" style="width: 1000px; height: 200px;"></div>
    </div>
</div>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/angular-route.js"></script>
<script src="~/Scripts/ng-grid.js"></script>
<script src="~/Scripts/Model/AccountModel.js"></script>
<script src="~/Scripts/Service/AccountService.js"></script>
<script src="~/Scripts/Controller/AccountController.js"></script>


