﻿
@{
    ViewBag.Title = "TableBookingView";
    Layout = "~/Views/Shared/_RestoLayout.cshtml";
}

<h2>TableBookingView</h2>

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Manage table</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/css/default.css">
    <link rel="stylesheet" type="text/css" href="~/css/component.css">
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.css">
    <!--<link href="css/jsCarousel.css" rel="stylesheet" type="text/css" />-->
    <script src="~/js/jquery-1.4.4.min.js" type="text/javascript"></script>
    <!--<script src="js/jsCarousel.js" type="text/javascript"></script>-->
    <script type='text/javascript' src='~/js/angular.min.js'></script>
    <!--<link rel="stylesheet" type="text/css" href="css/result-light.css">-->
    <style>
        .examplediv {
            position: absolute;
            border: solid 5px #000;
            /*cursor:move;*/
        }

        #dialog {
            border: groove;
            border-width: 1px;
            background-color: #C8D2F5;
        }
    </style>

    <script type="text/javascript">
    function RedditPosts($scope, $http) {
        // alert($scope)
        $scope.orderProp = '-data.score';
        $scope.circle = '102012';
        $scope.square = '102014';
        $scope.LShape = '102013';
        $scope.HeartShape = '102015';
        $scope.BigTables = '102016';
        $scope.updatePosts = function () {
            // alert($scope.circle)
            $http.jsonp('http://reddit.com/r/'+$scope.circle+'.json?jsonp=JSON_CALLBACK').success(function (response) {
                $scope.Post = response.data
            });
        };
        $scope.updatePosts();
    }
var phpcode = "whatisthis";
//Generate a proper data structure
var pictureList = {
	'102012': 'images/circle',
	'102013': 'images/l-shape',
	'102014': 'images/square',
	'102015': 'images/heart-table',
	'102016': 'images/bigtable'
 };

$('.detailprodoption').change(function() {
    //Set image src when the selected value isn't empty
    $('img').attr({
        "src": this.value && [pictureList[this.value], "-", phpcode, ".jpg"].join("") || ""
    });

    //For the demo only!
    $(".img").text( this.value && [pictureList[this.value], "-", phpcode, ".jpg"].join("") || "" )
});

    </script>
</head>

<body ng-app="myApp">
    <div class="main" ng-controller="MyCtrl">
        <div class="container">
            <div class="col-sm-3 left_col">
                <div class="form_select">
                    <div class="lables">
                        <label>Select Date :</label>
                        <div class="select_box">
                            <input type="date" name="" id="input" class="form-control" value="" required="required" title="">
                        </div>
                    </div>
                    <div class="lables">
                        <label>Select Time :</label>
                        <div class="select_box">
                            <select name="" id="input" class="form-control" required="required">
                                <option selected="selected">Select Time</option>
                                <option value="">12PM</option>
                                <option value="">1PM</option>
                                <option value="">2PM</option>
                                <option value="">3PM</option>
                                <option value="">4PM</option>
                                <option value="">5PM</option>
                                <option value="">6PM</option>
                                <option value="">7PM</option>
                                <option value="">8PM</option>
                                <option value="">9PM</option>
                                <option value="">10PM</option>
                                <option value="">11PM</option>
                                <option value="">12AM</option>
                            </select>
                        </div>
                    </div>
                    <div class="lables">
                        <label>Select Floor :</label>
                        <div class="select_box">
                            <select>
                                <option>Floor1</option>
                                <option>Floor2</option>
                                <option>Floor3</option>
                                <option>Floor4</option>
                                <option>Floor5</option>
                            </select>
                        </div>
                    </div>
                    <div class="lables">
                        <label>Select Table :</label>
                        <div class="select_box">
                            <select data-optgroup="10201" ng-model="subreddit" ng-change="updatePosts()" class="prodoption detailprodoption" name="optn0" id="optn0x0" size="1">
                                <option value="">Please Select...</option>
                                <option value="102012" class="">Circle</option>
                                <option value="102013" class="">L-Shape</option>
                                <option value="102014" class="">Square</option>
                                <option value="102015" class="">Heart Shape</option>
                                <option value="102016" class="">Big Tables</option>
                            </select>
                        </div>
                    </div>
                    <div class="lables">
                        <label>No of Chairs :</label>
                        <div class="select_box">
                            <select>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                    </div>
                    <div class="lables">
                        <label>Table Position</label>
                        <div class="select_box">
                            <input type="number" ng-model="divleft" />Floor Left
                            <input type="number" ng-model="divtop" />
                            {{divleft}}, {{divtop}}
                            <input type="number" ng-model="divleft2" />
                            <input type="number" ng-model="divtop2" />
                            {{divleft2}}, {{divtop2}}
                        </div>
                    </div>
                    <div class="button_pre">
                        <button class="btn">Preview</button>
                    </div>
                </div>

                <div class="tables_drag">

                    <!-- Once he books the table that will be shown here-->

                    <div class="tables">
                    </div>

                    <!-- Once he books the table that will be shown here-->
                </div>
                <div class="button_pre add">
                    <button class="btn">Add</button>
                </div>
            </div>
            <div class="col-sm-9 floor_tbl">
                <div class="floor_layout">
                    <div class="tables_list">
                        <div class="moveable_table bloc1">
                            <div class="chairs_small sm1"></div>
                            <div class="chairs_small sm2"></div>
                            <div class="chairs_small sm3"></div>
                            <div class="chairs_small sm4"></div>
                            <div class="chairs_small sm5"></div>
                            <div class="chairs_small sm6"></div>
                            <div class="rect_tble md-trigger" data-modal="modal-13"></div>
                        </div>

                        <div class="moveable_table bloc2">
                            <div class="chairs_small sm1"></div>
                            <div class="chairs_small sm2"></div>
                            <div class="chairs_small sm3"></div>
                            <div class="chairs_small sm4"></div>
                            <div class="chairs_small sm5"></div>
                            <div class="chairs_small sm6"></div>
                            <div class="rect_tble md-trigger" data-modal="modal-13"></div>
                        </div>
                    </div>

                    <div class="tables_list">
                        <div class="moveable_table bloc1 examplediv" ng-style="{left: divleft, top: divtop, width: divwidth, height: divheight}" draggable xpos="divleft" ypos="divtop">
                            <div class="chairs_small sm1"></div>
                            <div class="chairs_small sm2"></div>
                            <div class="chairs_small sm3"></div>
                            <div class="chairs_small sm4"></div>
                            <div class="chairs_small sm5"></div>
                            <div class="chairs_small sm6"></div>
                            <div class="rect_tble md-trigger" data-modal="modal-13"></div>
                        </div>
                        <div class="moveable_table bloc2">
                            <div class="chairs_small sm1"></div>
                            <div class="chairs_small sm2"></div>
                            <div class="chairs_small sm3"></div>
                            <div class="chairs_small sm4"></div>
                            <div class="chairs_small sm5"></div>
                            <div class="chairs_small sm6"></div>
                            <div class="rect_tble md-trigger" data-modal="modal-13"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="md-modal md-effect-13" id="modal-13">
                <div class="md-content">
                    <h3>Booking Form</h3>

                    <div class="book_table">
                        <div class="col-sm-6">
                            <div class="left_filed">
                                <div class="input_date">
                                    <label> <span>Year</span> <input type="text" placeholder="Year" /></label>
                                    <label><span>Day</span><input type="text" placeholder="Day" /></label>
                                    <label><span>Month</span><input type="text" placeholder="Month" /></label>
                                    <label><span>Time</span><input type="text" placeholder="Time" /></label>
                                </div>
                                <div class="lable_form">
                                    <label>Email</label>
                                    <input type="email" name="" id="input" class="form-control" value="" required="required" placeholder="Email" title="">
                                </div>
                                <div class="lable_form">
                                    <label>Special request</label>
                                    <textarea></textarea>
                                </div>
                                <div class="lable_form">
                                    <label>Booking Time</label>
                                    <input type="time" name="" id="input" class="form-control" value="" required="required" title="">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="left_filed">
                                <div class="input_name">
                                    <label> <span>Name</span> <input type="text" placeholder="Name" /></label>
                                    <label><span>Guests </span><input type="text" placeholder="Guests" /></label>
                                </div>
                                <div class="input_name">
                                    <label>Telephone </label>
                                    <input type="text" placeholder="Telephone " />
                                </div>
                                <div class="input_name">
                                    <label>Table Align </label>
                                    <select name="tablealign" id="inputTablealign" class="form-control" required="required">
                                        <option selected="selected">Select Table Position</option>
                                        <option value="1">Floor Center</option>
                                        <option value="2">Floor left Cornar</option>
                                        <option value="3">Floor right Cornar</option>
                                    </select>
                                </div>
                                <div class="submitHolder"> <input type="submit" value="place booking"> </div>
                            </div>
                        </div>
                    </div>
                    <div class="close_btn">
                        <button class="md-close btns">Close me!</button>
                    </div>

                </div>
            </div>
            <script src="js/classie.js"></script>
            <script src="js/modalEffects.js"></script>
            <script src="js/jquery-2.1.4.js"></script>
            <script src="js/jquery-ui-1.11.4.min.js"></script>
            <script src="https://code.angularjs.org/angular-1.0.1.js"></script>
            <script>
        var myApp = angular.module('myApp', []);

        function MyCtrl($scope) {
            $scope.divwidth = 280;
            $scope.divheight = 240;
            $scope.show = true;
            $scope.divtop = 230;
            $scope.divleft = 50;
            $scope.divtop2 = 180;
            $scope.divleft2 = 150;
        };

        myApp.directive('draggable', function () {
            return {
                restrict: 'A',
                link: function (scope, element, attrs) {
                    element.draggable({
                        cursor: "move",
                        stop: function (event, ui) {
                            scope[attrs.xpos] = ui.position.left;
                            scope[attrs.ypos] = ui.position.top;
                            scope.$apply();
                        }
                    });
                }
            };
        });
            </script>

</body>
</html>
