﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <div id='cssmenu'>
        <ul>
            <li>@Html.ActionLink("Dashboard", "dashboard", "Account")</li>
            <li>@Html.ActionLink("Restaurant", "restaurant", "Account")</li>
            <li>@Html.ActionLink("Cuisine", "cuisine", "Account")</li>
            <li>@Html.ActionLink("Section", "section", "Account")</li>
            <li>@Html.ActionLink("Category", "category", "Account")</li>
            <li>@Html.ActionLink("Items", "Items", "Account")</li>
            <li>@Html.ActionLink("Customer", "Customer", "Account")</li>
            <li>@Html.ActionLink("TableBookingView", "TableBookingView", "Account")</li>
           

            @*<li><a href="#"><span>Items</span></a></li>*@
            <li><a href="#"><span>Orders</span></a></li>
            @*<li><a href="#"><span>Customers</span></a></li>*@
            <li class='active has-sub'>
                <a href='#'><span>Settings</span></a>
                <ul>
                    <li class='has-sub'>
                        <a href='#'><span>Lookup</span></a>
                        <ul>
                            @*<li><a href='#'><span>Lookup Category</span></a></li>*@
                            @*<li class='last'><a href='#'><span>Lookup</span></a></li>*@
                            <li>@Html.ActionLink("LookUpCategory", "LookUpCategory", "Account")</li>

                            <li>@Html.ActionLink("LookUP", "LookUP", "Account")</li>
                        </ul>
                    </li>
                    <li class='has-sub'>
                        <a href='#'><span>Users &amp; Roles Management</span></a>
                        <ul>
                            <li><span>@Html.ActionLink("Users Management", "Index", "UserAdmin")</span></li>
                            <li class='last'><span>@Html.ActionLink("Roles Management", "Index", "RolesAdmin")</span></li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>No Menu</li>
    </ul>
}
