/* General Demo Style */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

@font-face {
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
	font-weight: normal;
	font-style: normal;
}

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0; }

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

body {
	font-family: 'Lato', Calibri, Arial, sans-serif;
	color: #000;
	background: #fff;
}

a, button {
	outline: none;
}

a {
	color: #c0392b;
	text-decoration: none;
}

a:hover,
a:active {
	color: #333;
}

/* Header Style */
.main,
.container > header {
	margin: 0 auto;
	padding: 2em;
}

.container > header {
	text-align: center;
	background: #d94839;
	padding: 3em;
}

.container > header h1 {
	font-size: 2.625em;
	line-height: 1.3;
	margin: 0;
	font-weight: 300;
}

.container > header span {
	display: block;
	font-size: 60%;
	opacity: 0.7;
	padding: 0 0 0.6em 0.1em;
}

/* Main Content */
.main {
 }

.column {
	float: left;
	width: 50%;
	padding: 0 2em;
	min-height: 300px;
	position: relative;
}

.column:nth-child(2) {
	box-shadow: -1px 0 0 rgba(0,0,0,0.1);
}

.column p {
	font-weight: 300;
	font-size: 2em;
	padding: 0;
	margin: 0;
	text-align: right;
	line-height: 1.5;
}


/* left--block */
.col1_left
{
	float:left;
	width:30%;
}
.lables
{
	overflow:hidden;
	clear:both;
	margin-bottom:10px;
}
.lables label
{
	display:block;
	float:left;
	width:100px;
}
.select_box 
{
	float:left;
}

.button_pre
{
	overflow:hidden;
	clear:both;
	text-align:center;
	margin-bottom: 20px;
	margin-top: 20px;
	
}
.add 
{
	text-align:right;
}
.left_col
{
	
}
.floor_tbl
{
	border-left:5px solid #dfdfdf;

}
.floor_layout
{
	width:100%;
	height:500px;
	border:1px solid #000;
}
.moveable_table
{
	position:relative;
	width:270px;
	height:240px;
}
.rect_tble
{
	width: 160px;
    height: 75px;
    border: 1px solid #000;
    position: absolute;
    left: 20%;
    top: 34%;
	cursor:pointer;
}
.chairs_small
{
	width:40px;
	height:40px;
	border:1px solid #000;
	position:absolute;
	
}
.tables_list
{
	clear:both;
	overflow:hidden;
}
.bloc1
{
	float:left;
}
.bloc2
{
	float:right;
}
.sm1
{
	top:14%;
	left:33%;
}
.sm2
{
	top:14%;
	left:55%;
}
.sm3
{
	bottom:14%;
	left:33%;
}
.sm4
{
	bottom:14%;
	left:57%;
}
.sm5
{
	top: 42%;
    left: 3%;
}
.sm6
{
	top: 42%;
    right: 3%;
}
.input_date
{
	overflow:hidden;
	clear:both;
}
.left_filed
{
	font-size:14px;
}
.left_filed label
{
	display:block;
}
.input_date, .lable_form, .input_name
{
	margin-bottom:4px;
	clear:both;
	overflow:hidden;
}
.lable_form textarea
{
	color:#333;
}
.close_btn 
{
	clear:both;
	overflow:hidden;
}
.input_date input
{
	width: 44px;
    margin-right: 8px;
 }
 .input_date span
 {
 	display:block;
 }
 .input_date label
 {
 	float:left;
 }
 .input_name span
 {
 	display:block;
 }
 .left_filed input[type="text"]
 {
 	border-radius:3px;
	border:1px solid #fff;
	padding:3px 5px;
	color:#333;
 }
 .submitHolder
 {
 	margin-top:5px;
 }
.select_box select
{
	width: 145px;
	padding: 2px 2px;
}
 .submitHolder input[type="submit"]
 {
 	cursor:pointer;
	border-radius: 5px;
    display: block;
    padding: 8px 8px;
    border: 1px solid #C0392B;
	
 }

.codrops-top {
	background: #fff;
	background: rgba(255, 255, 255, 0.2);
	text-transform: uppercase;
	width: 100%;
	font-size: 0.69em;
	line-height: 2.2;
}

.codrops-top a {
	padding: 0 1em;
	letter-spacing: 0.1em;
	display: inline-block;
}

.codrops-top a:hover {
	color: #e74c3c;
	background: rgba(255,255,255,0.6);
}

.codrops-top span.right {
	float: right;
}

.codrops-top span.right a {
	float: left;
	display: block;
}

.codrops-icon:before {
	font-family: 'codropsicons';
	margin: 0 4px;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.codrops-icon-drop:before {
	content: "\e001";
}

.codrops-icon-prev:before {
	content: "\e004";
}

.btns {
	border: none;
	padding: 0.6em 1.2em;
	background: #c0392b;
	color: #fff;
	font-family: 'Lato', Calibri, Arial, sans-serif;
	font-size: 1em;
	letter-spacing: 1px;
	text-transform: uppercase;
	cursor: pointer;
	display: inline-block;
	margin: 3px 2px;
	border-radius: 2px;
}

button:hover {
	background: #A5281B;
	color:#fff;
}
.tables_drag
{
	width:100%;
	height:180px;
	background:#1E8FD7;
	border:1px solid #000;
}

@media screen and (max-width: 46.0625em) {
	.column {
		width: 100%;
		min-width: auto;
		min-height: auto;
		padding: 1em; 
	}

	.column p {
		text-align: left;
		font-size: 1.5em;
	}

	.column:nth-child(2) {
		box-shadow: 0 -1px 0 rgba(0,0,0,0.1);
	}
}

@media screen and (max-width: 25em) {

	.codrops-icon span {
		display: none;
	}

}