﻿@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/ng-grid.css" rel="stylesheet" />
<div ng-app="AccountApp" data-ng-controller="AccountController" ng-init="searchRestaurantDetails()">
    @*<div>*@
    @*<label>City:</label>
        <select class="form-control" ng-model="CityName" ng-options="item.City for item in CitiesData" ng-change='GetAreas()'>
            <option value="">-- choose --</option>
        </select>*@
    @*</div>
        <div>*@
    @*<label>Area:</label>
        <select class="form-control" ng-model="AreaName" ng-options="item.Address2 for item in AreasData">
            <option value="">-- choose --</option>
        </select>*@
    @*</div>
        <div>*@
    <label class="control-label">Post Code/City/Town</label>
    <input class="form-control" id="ZIPCode" type="text" ng-model="ZIPCode" />
    <input type="button" id="Search" class="btn btn-warning" value="Search" data-ng-click="searchRestaurantDetails()" />
    @*</div>*@
    <div ng-grid="gridRestaurantDetailsOptions"></div>
</div>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/angular-route.js"></script>
<script src="~/Scripts/ng-grid.js"></script>
<script src="~/Scripts/Model/AccountModel.js"></script>
<script src="~/Scripts/Service/AccountService.js"></script>
<script src="~/Scripts/Controller/AccountController.js"></script>