﻿@{
    ViewBag.Title = "Menu";

}
<link href="~/Content/ng-grid.css" rel="stylesheet" />


@*<h1>@TempData["Res"].ToString()</h1>*@

<div ng-app="AccountApp" data-ng-controller="AccountController" ng-init="GetRestaurantMenu(@TempData["RestaurantID"].ToString())" >
    <div class="gridStyle" ng-grid="gridRestaurantMenuOptions" style="width: 750px; height: 500px;"></div>
    <div class='float-right' data-auto-scroll>
        <div class='fixed'>
            <p>
                <div class="gridStyle" ng-grid="gridRestaurantMenuItemsOptions" style="height: 200px;"></div>
               
            </p>
            
            <p>
                </br>
                <div>
                    Total Price:<span ng-bind="totalPrice"></span>
                    </br></br><div class="school-model-form">
                                <a class="btn btn-warning" href="/Home/Login">Proceed</a>
                            </div>
                </div>
            </p>
        </div>
        
    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/angular-route.js"></script>
<script src="~/Scripts/ng-grid.js"></script>
<script src="~/Scripts/Model/AccountModel.js"></script>
<script src="~/Scripts/Service/AccountService.js"></script>
<script src="~/Scripts/Controller/AccountController.js"></script>
